doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title Document
    link(rel="stylesheet", href="css/App.css")
  body
    h1 Get started Pug
    main.main
      .box.ripple(style="width: 200px; height: 300px;") box-areaだよーー
