doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    title Document
    link(rel="canonical", href="http://localhost/index.html")
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")
    link(rel="stylesheet", href="css/App.css")
  body
    h1 Document index
    main.main
      div
        a(href="articles/20180505_start_amp.html")
          |普通の 20180505_start_amp.html
      div
        a(href="articles/20180505_start_amp.html#development=1")
          |#development=1 をつけた 20180505_start_amp.html
      .box.ripple(style="width: 200px; height: 300px;") box-area
    script(src="js/main.js")
