doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    title Document
    link(rel="canonical", href="http://localhost/index.html")
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")
    link(rel="stylesheet", href="css/App.css")
  body
    header
      | Header contents area.
    main.main
      h1 Document index
      a(href="./articles/20180513_develop_env_for_htmlcoder_2018.html") リンク1
      h2 Ripple Effect
      .box.ripple box-area
    footer Footer contents area.
    script(src="js/main.js")
