extends ../_layouts/_article.pug

block title
  - var title = 'HTMLコーダーの開発環境 2018年春';
  - var filename = '20180513_develop_env_for_htmlcoder_2018';
  title #{title}
  link(rel="canonical", href="http://localhost/articles/"+filename+".html")

block content
  h1 #{title}
  div
    | pug-cli は開発が止まってるっぽいから、
    | pug使うときはgulpまたはpugのconfigファイルつくったほうが
    | いいかもしれん
  h3 node-sass のissue 2170をうまく解消できん
  p
    a(href="https://github.com/sass/node-sass/pull/2170", target="_blank") https://github.com/sass/node-sass/pull/2170
    | を解決したかったのだけど、うまくできなかったので、request packageをインストールすることで
    | 解消させました。。。
