doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    title 2018 | Document
    link(rel="canonical", href="http://localhost/20180513_develop_env_for_htmlcoder_2018.html")
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")
    link(rel="stylesheet", href="/css/App.css")
  body
    header
      a(href="/") TOP
      p Header area
    main
      h1 Main Contents Area
      article
        p Hello, world!
    footer Footer  area
    script(src="./js/main.js")
