@import 'base';

.box {
  width: 300px;
  height: 300px;
  background-color: rgba(200, 200, 200, 0);
  border: 1px solid #777;
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple .ripple-effect {
  position: absolute;
  border-radius: 50%;
  opacity: 0.35;
  transform: scale(0);
  background: #f22;
  animation: ripple 700ms;
  pointer-events: none;
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2.0);
  }
}
